<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Bootstrap Snippet: Login Form</title>


  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>

</head>

  <body>
    <div class="wrapper">
      <form class="form-signin">
        <h2 class="form-signin-heading">Login to Homes4Sale</h2>
        <input type="text" class="form-control" name="username" placeholder="Name" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          <%= link_to auth_path(provider: 'github'), class: "btn btn-block btn-social btn-github" do %>
            <span class="fa fa-github"></span>Sign in with Github
          <% end %>
      </form>
    </div>
  </body>
</html>
