<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your listing was Favorited, <%= @user.name %></h1>
    <p>
      <%= favorite.user.name %> favorited your listing at <%= favorite.created_at %>.<br>
    </p>
  </body>
</html>
