$jumbotron-color:                hsla(234, 96%, 10%, 0.55);
$jumbotron-bg:                   hsla(234, 96%, 10%, 0.55);
$jumbotron-heading-color:        white;

.landing-jumbotron {

}

.landing-jumbotron h2 {
  color: white;
}

.s-landing {
  background: image-url('Hero.jpg') no-repeat center fixed;
  background-size: cover;
}

// .s-form {
//   width: 400px;
// }

// .flexcontainer {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: center;
// }

.flexcontainer2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 3em;
}

.flexcontainer3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}

.s-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box {
  // border-bottom: 1px solid #cacaca;
  margin: 1em;
  text-align: right;
}

.mainimage {
  /*max-width: 424px;*/
  // height: 300px;
  width: 424px;
  padding: 10px;
  border: 1px solid #cacaca;
  border-radius: 2px;
  margin: 0;
}

.textline {
  margin: 5px 5px 0;
  display: flex;
  justify-content: space-between;
}

.firstleftline {
  color: #9aa6f5;
  font-size: 16px;
  font-weight: bold;
}

.secondleftline {
  font-size: 16px;
  font-weight: bold;
}

.textline2 {
  margin: 0px 5px;
  display: flex;
  justify-content: center;
}

.textline3 {
  margin: 0px 5px 50px;
  display: flex;
  justify-content: center;
}

.s-text
  .s-text2
  .s-text3 {
  padding: 20px 0 0;
}

.s-text2 {
  color: #05ff53;
}

.s-text3 {
  color: #fb0101;
}

.s-btn {
  padding: 0 0 2px 0;
}

.fav-heart {
  font-size: 26px;
  padding-left: 10px;
}

.s-body {
  background: image-url('Hero1.jpeg') no-repeat center fixed;
  background-size: cover;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: hsla(33, 31%, 46%, 0.55);
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading {
    color: black;
	  margin-bottom: 30px;
	}

  // Leaving this stuff for future use
	// .checkbox {
	//   font-weight: normal;
	//   margin-bottom: 30px;
	// }

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		box-sizing: border-box;

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
