$jumbotron-color:                hsla(33, 45%, 23%, 0.6);
$jumbotron-bg:                   hsla(33, 45%, 23%, 0.6);
$jumbotron-heading-color:        white;

.landing-jumbotron h2 {
  color: white;
}

.s-landing {
  background: image-url('Hero1.jpeg') no-repeat center fixed;
  background-size: cover;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flexcontainer2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 3em;
}

.s-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.box {
  // border-bottom: 1px solid #cacaca;
  margin: 1em;
  text-align: right;
}

li {

}

.mainimage {
  /*max-width: 424px;*/
  height: 300px;
  // width: 424px;
  padding: 10px;
  border: 1px solid #cacaca;
  border-radius: 2px;
  margin: 0;
}

.textline {
  margin: 5px 5px 0;
  display: flex;
  justify-content: space-between;
}

.firstleftline {
  color: #9aa6f5;
  font-size: 16px;
  font-weight: bold;
}

.secondleftline {
  font-size: 16px;
  font-weight: bold;
}

.textline2 {
  margin: 0px 5px;
  display: flex;
  justify-content: center;
}

.s-text {
  padding: 20px 0 0;
}

.s-btn {
  padding: 0 0 2px 0;
}
